:root {
    --footer-height: 600px;
    --responsive-footer-height: 850px;
    --responsive-footer-height-second: 1250px;
}

.footer-master {
    background-color: #000000;
    color: white;
    width: 100%;
}

.footer-main {
    height: var(--footer-height);
    display: flex;
    position: relative;
}

.footer-background {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 16rem;
    width: 17rem;
    background-image: url(../images/footer-background.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-bottom-text {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 70%;
    height: auto;
    color: #6cc3b0;
    font-size: 0.65rem;
}

.footer-bottom-text>p {
    font-weight: 400;
    margin-bottom: 0px;
}

.footer-bottom-text span {
    font-weight: 800;
    font-size: 0.7rem;
}

.footer-main>.row {
    width: 100%;
}

.footer-main .logo-area-link-box {
    width: 80%;
}

.footer-main .logo-area {
    background-size: contain;
    height: 100px;
}

.footer-main .digital-logo-area {
    background-image: url(../images/digital-agency.png);
    background-repeat: no-repeat;
    height: 58px;
    width: 130px;
    background-size: contain;
}

.footer-main .digital-agency-main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-main .rank-text {
    color: #6cc3b0;
    font-size: 0.65rem;
    margin-top: -3px;
}

.footer-main .col-sm-3:first-child {
    justify-content: start;
    align-items: center;
}

.footer-main .col-sm-3 {
    display: flex;
    justify-content: start;
}

.footer-copyright {
    border-top: 1px solid white;
}

.footer-copyright>.row>.col-sm-8,
.footer-copyright>.row>.col-sm-4 {
    padding: 0;
    display: flex;
    align-items: center;
    height: 60px;
}

.footer-copyright>.row>.col-sm-4 {
    justify-content: end;
}

.copyright-text {
    margin: 0;
    font-size: 0.8rem;
}

.footer-copyright>.row>.col-sm-4>ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-copyright>.row>.col-sm-4>ul li {
    padding: 0px 0px 0px 15px;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.footer-copyright>.row>.col-sm-4>ul li a {
    text-decoration: none;
    color: white;
}

.footer-copyright>.row>.col-sm-4>ul li a:hover {
    text-decoration: underline;
}

.footer-column-main p {
    font-weight: 200;
    margin-bottom: 0.8rem;
    font-size: 0.9rem;
}

.footer-column-main p > a {
    color: white;
    text-decoration: none;
}

.footer-column-main > div > p > span{
    color: #aa00e2;
}

.column-heading {
    position: relative;
}

.column-heading>p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

.column-heading-logo {
    border-radius: 50px;
    left: -42px;
    position: absolute;
    background-image: url(../icons/link.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 30px;
    top: 1px;
    background-color: white;
    width: 30px;
}

@media only screen and (min-width: 1400px) {
    .footer-master>.container {
        max-width: none;
    }
}

@media only screen and (min-width: 1200px) {
    .footer-master>.container {
        max-width: 80%;
    }
}

@media only screen and (max-width: 992px) {
    .footer-master .container {
        max-width: 100%;
    }
}

@media only screen and (max-width: 860px) {
    .footer-master .container {
        width: 80%;
    }

    .footer-master .col-sm-3 {
        width: 50%;
        margin-bottom: 30px
    }

    .footer-main {
        height: var(--responsive-footer-height);
    }

    .footer-background {
        width: 12rem;
        height: 12rem;
    }

    .footer-copyright>.row>.col-sm-8,
    .footer-copyright>.row>.col-sm-4 {
        width: 100%;
        height: 40px;
        justify-content: start;
    }

    .footer-copyright>.row>.col-sm-4>ul li {
        padding: 0px 15px 0px 0px;
    }
}

@media only screen and (max-width: 750px) {
    .footer-bottom-text {
        width: 100%;
        bottom: 30px;
    }

    .footer-background {
        display: none;
    }
}

@media only screen and (max-width: 576px) {
    .footer-main .logo-area-link-box {
        width: 100%;
    }

    .footer-main .logo-area {
        height: 140px;
    }

    .footer-main .digital-logo-area {
        height: 70px;
        width: 162px;
    }

    .footer-main .rank-text {
        font-size: 0.9rem;
    }

    .footer-main {
        height: var(--responsive-footer-height-second);
    }

    .footer-master .col-sm-3 {
        width: 100%;
        margin-bottom: 30px
    }

    .footer-background {
        display: none;
    }

    .footer-bottom-text {
        bottom: 0px;
    }
}